@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Roboto+Mono&family=Titan+One&display=swap');
body {
    background-color: #0d1117;
    color: rgb(200, 200, 200);
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
   margin-top: 5rem;
}